.favorite-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}
span{
    color: #ad1c24;
}

.top-wrap{
    display: flex;
    text-align: center;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}
.favorite-content {
    margin-top: $spacing1;
    margin: auto;
    padding-left: 65px;
    padding-right: 70px;
}

.v-btn{
    text-transform: capitalize;
    font-size: 13px;
}

.card {
  height: 220px;
  overflow: hidden;
}
.title-text{
    font-size: 17px;
    margin-top: -15px;
    margin-bottom: -5px;
}
.sub-text{
    margin-bottom: -17px;
}
.item {
  padding: $spacing2
}
.top-wrapper{
    display: flex;
    align-items: center;
    width: 100vw;
    padding-left: 80px;
    padding-right: 95px;
    margin-bottom: 25px;
    text-align: center;
    justify-content: space-between;
    a{
        text-decoration: none;
        .more{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: blue;
        }
    }
}

h2{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
  }

@media screen and (max-width: 800px) {

    .favorite-content {
        margin-top: $spacing1;
        margin: auto;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 500px) {
    .top-wrapper{
        display: flex;
        align-items: center;
        width: 100vw;
        padding-left: 10px;
        padding-right: 15px;
        margin-bottom: 25px;
        text-align: center;
        justify-content: space-between;
        a{
            text-decoration: none;
            margin-bottom: -15px;
            .more{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: blue;
            }
        }
    }
    h2{
        font-size: 17px;
        line-height: 28px;
        color: #000000;
      }
    .favorite-content {
        margin-top: $spacing1;
        margin: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
}